# node / JS
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Expo / React Native
.expo/
.expo-shared/
android/
ios/
**/build/
**/dist/

# Next / Vercel
.next/
out/

# OS / editor
.DS_Store
.vscode/
.env
.env.local
.env.*.local

# Misc large files
*.apk
*.aab
*.keystore
.vercel
